<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.wst.css.core.csssource"
            file-extensions="scss"
            id="com.n1nja.eclipse.wst.sdt.core.scss"
            name="SCSS">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="sass"
            id="com.n1nja.eclipse.wst.sdt.core.sass"
            name="Sass">
      </content-type>
      <file-association
            content-type="org.eclipse.core.runtime.xml"
            file-names=".sasspath">
      </file-association>
   </extension>
   <extension
         id="com.n1nja.eclipse.wst.sdt.core.nature"
         name="Sass Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.n1nja.eclipse.wst.sdt.core.SassNature">
         </run>
      </runtime>
      <content-type
            id="com.n1nja.eclipse.wst.sdt.core.sass">
      </content-type>
      <content-type
            id="com.n1nja.eclipse.wst.sdt.core.scss">
      </content-type>
      <builder
            id="com.n1nja.eclipse.wst.sdt.core.builder">
      </builder>
   </extension>
   <extension
         id="com.n1nja.eclipse.wst.sdt.core.builder"
         name="Sass Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="false">
         <run
               class="com.n1nja.eclipse.wst.sdt.core.SassBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="com.n1nja.eclipse.wst.sdt.core.facet">
         <label>
            Sass
         </label>
         <description>
            Enables support for customizable, automatic complication of Sass and SCSS.
         </description>
         <default-version
               version="3.4">
         </default-version>
      </project-facet>
      <project-facet-version
            facet="com.n1nja.eclipse.wst.sdt.core.facet"
            version="3.4">
      </project-facet-version>
      <action
            facet="com.n1nja.eclipse.wst.sdt.core.facet"
            id="com.n1nja.eclipse.wst.sdt.core.facet.install"
            type="install"
            version="[3.4-4.0)">
         <delegate
               class="com.n1nja.eclipse.wst.sdt.core.SassFacet$Installer">
         </delegate>
         <config-factory
               class="com.n1nja.eclipse.wst.sdt.core.SassFacet$Installer$ConfigFactory">
         </config-factory>
      </action>
      <action
            facet="com.n1nja.eclipse.wst.sdt.core.facet"
            id="com.n1nja.eclipse.wst.sdt.core.facet.uninstall"
            type="uninstall"
            version="[3.4-4.0)">
         <delegate
               class="com.n1nja.eclipse.wst.sdt.core.SassFacet$Uninstaller">
         </delegate>
      </action>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.presets">
      <static-preset
            id="com.n1nja.eclipse.wst.sdt.core.facet.preset">
         <label>
            Sass Configuration
         </label>
         <description>
            The standard static web configuration, with Sass support enabled.
         </description>
         <facet
               id="com.n1nja.eclipse.wst.sdt.core.facet"
               version="3.4">
         </facet>
         <facet
               id="wst.web"
               version="1.0">
         </facet>
      </static-preset>
   </extension>

</plugin>
